In [2]:
import sys

In [3]:
sys.path.append('C:\Python27\ArcGIS10.3\Lib\site-packages')

In [4]:
import pg

In [5]:
from pg import DB

In [6]:
db = DB(dbname = 'geog465_sunz4', host = 'geog-db2.geog.uw.edu', port = 5432, user = 'sunz4', 
        passwd = 'sunz4')

In [7]:
db.query('create table no_case(id varchar(100) primary key, case_number varchar(100),case_type_id varchar(100),case_group_id varchar(100), inspection_result_id varchar(100), location_id varchar(100), status_id varchar(100))')

In [9]:
db.query('create table group_type(id varchar(100) primary key, case_group_type varchar(100))')

In [10]:
db.query('create table inspection(id varchar(100) primary key, result varchar(100))')

In [11]:
db.query('create table status_type(id varchar(100) primary key, status varchar(100))')

In [13]:
db.query('create table location_location(id varchar(100) primary key, address varchar(100), latitude varchar (100), longitude varchar(100))')

In [16]:
db.query('create table type(id varchar(100) primary key, case_type varchar(100))')

In [60]:
db.query('create table link_1(no_case varchar(100), group_type varchar(100), inspection varchar(100), status varchar(100), location_location varchar(100) case_type varchar(100))')

In [61]:
#Finished creating tables

In [62]:
#Starting importing  data into table in database

In [63]:
import csv

In [64]:
f = open('U:\GEOG 465 Final\Final\Code_Violation_Cases.csv')
reader = csv.reader(f, delimiter = ',')
my_list_7 = []
next(reader, None)
for row in reader:
    my_list_7.append([row[0], row[4], row[7], row[8], row[11], row[12], row[2], row[1]])

In [65]:
db.inserttable('link_1', my_list_7)

In [65]:
case_group = open('U:\GEOG 465 Final\Final\case_group.csv')
reader_1 = csv.reader(case_group, delimiter = ',')
my_list_1 = []
next(reader_1, None)
for row in reader_1:
    my_list_1.append(row)

In [56]:
db.inserttable('group_type', my_list_1)

In [66]:
inspection_result = open('U:\GEOG 465 Final\Final\inspection_result.csv')
reader_2 = csv.reader(inspection_result, delimiter = ',')
my_list_2 = []
next(reader_2, None)
for row in reader_2:
    my_list_2.append(row)

In [67]:
db.inserttable('inspection', my_list_2)

In [69]:
status_type = open('U:\GEOG 465 Final\Final\status.csv')
reader_3 = csv.reader(status_type, delimiter = ',')
my_list_3 = []
next(reader_3, None)
for row in reader_3:
    my_list_3.append(row)

In [70]:
db.inserttable('status_type', my_list_3)

In [71]:
location = open('U:\GEOG 465 Final\Final\location.csv')
reader_4 = csv.reader(location, delimiter = ',')
my_list_4 = []
next(reader_4, None)
for row in reader_4:
    my_list_4.append(row)

In [72]:
db.inserttable('location_location', my_list_4)

In [73]:
case_type = open('U:\GEOG 465 Final\Final\case_type.csv')
reader_5 = csv.reader(case_type, delimiter = ',')
my_list_5 = []
next(reader_5, None)
for row in reader_5:
    my_list_5.append(row)

In [74]:
db.inserttable('type', my_list_5)

In [75]:
case_number = open('U:\GEOG 465 Final\Final\No_case.csv')
reader_6 = csv.reader(case_number, delimiter = ',')
my_list_6 = []
next(reader_6, None)
for row in reader_6:
    my_list_6.append(row)

In [76]:
db.inserttable('no_case', my_list_6)

In [87]:
print db.query("select * from group_type")

id|      case_group_type
--+----------------------------
1 |HOUSING
2 |SITE
3 |ZONING
4 |BUILDING
5 |WEEDS AND VEGETATION
6 |CONDO/COOP CONVERSION
7 |VACANT BUILDING
8 |SIGNS
9 |PREMISES
10|ELECTRICAL
11|TENANT RELOCATION ASSIST ORD
12|JUST CAUSE EVICTION
13|MECHANICAL
14|CONSTRUCTION NOISE
15|NONCONSTRUCTION NOISE
16|OTHER CONSTRUCTION
17|PRESALE
18|TRAO AVOIDANCE
19|BUILDING AND PREMISES
(19 rows)

In [88]:
print db.query("select * from inspection")

id|result
--+------
1 |FAILED
2 |PASSED
3 |HOLD
(3 rows)

In [89]:
print db.query("select * from status_type")

id|            status
--+-------------------------------
1 |ADMINISTRATIVE CLOSURE
2 |CLOSED
3 |COMPLAINT/APPLICATION WITHDRAWN
4 |ENFORCED COMPLIANCE
5 |NO VIOLATION
6 |OPEN
7 |TRANSFERRED TO EXTERNAL AGENCY
8 |VIOLATION
9 |VOLUNTARY COMPLIANCE
(9 rows)

In [93]:
 print db.query("select * from location_location")# There are so many locations thus I will not really print them out

In [29]:
print db.query("select * from type")

id|         case_type
--+----------------------------
1 |CITATION
2 |CONDO CONVERSION AND PRESALE
3 |CONSTRUCTION
4 |HOUSING/ZONING
5 |NOISE/SOUND LEVELS
6 |TENANT RELOCATION ORDINANCE
7 |UNFIT BUILDING OR PREMISES
8 |VACANT BUILDING MONITORING
(8 rows)

In [ ]:
print db.query("select * from no_case")#Same situation as location

In [30]:
#Done update data to tables in database

In [74]:
#Starting populate FK

In [84]:
db.query('alter table link_1 rename column no_case to case_1')

In [89]:
db.query('update no_case set case_type_id = type.id from type, link_1 where link_1.case_type = type.case_type and link_1.case_1 = no_case.case_number')

'22783'

In [ ]:
db.query('update no_case set case_group_id = group_type.id from group_type, link_1 where link_1.group_type = group_type.case_group_type and link_1.case_1 = no_case.case_number')

In [ ]:
db.query('update no_case set inspection_result_id = inspection.id from inspection, link_1 where link_1.inspection = inspection.result and link_1.case_1 = no_case.case_number')

In [ ]:
db.query('alter table link_1 rename column location_location to location_1')

In [ ]:
db.query('update no_case set location_id = location_location.id from location_location, link_1 where link_1.case_1 = no_case.case_number)

In [ ]:
db.query('update no_case set status_id = status_type.id from status_type, link_1 where link_1.status = status_type.status and link_1.case_1 and no_case.case_number')

In [ ]:
#Done with populating FK