In [1]:
import sys
sys.path.append('C:\Python27\ArcGIS10.3\Lib\site-packages')
import pg
from pg import DB

In [51]:

db.query('DROP TABLE plays')

In [36]:
db = DB(dbname = 'geog465_knny', host = 'geog-db2.geog.uw.edu', port = 5432, user = 'knny', passwd = 'knny')

In [37]:
db.query('create table teams (id int, name varchar(25), conference varchar(3), division varchar(5), stadium_id int, CONSTRAINT team_pk PRIMARY KEY (id))')

In [38]:
db.query("""INSERT INTO teams VALUES (1, 'Arizona Cardinals', 'NFC', 'West', 31)""")
db.query("""INSERT INTO teams VALUES (19, 'New England Patriots', 'AFC', 'East', 10)""")
db.query("""INSERT INTO teams VALUES (25, 'Pittsburgh Steelers', 'AFC', 'North', 11)""")

'1'

In [39]:
db.query('create table stadiums (id int, city varchar(20), state varchar(2), name varchar(40), address varchar(60), seat_capacity int, CONSTRAINT stadium_pk PRIMARY KEY (id))')

In [40]:
db.query("""INSERT INTO stadiums VALUES (31, 'Glendale', 'AZ', 'University of Phoenix Stadium', '1 Cardinals Drive, Glendale, Arizona 85305', 63400)""")
db.query("""INSERT INTO stadiums VALUES (10, 'Foxborough', 'MA', 'Gilette Stadium', '1 Patriot Place, Foxborough, Massachusetts, 02035', 66829)""")
db.query("""INSERT INTO stadiums VALUES (11, 'Pittsburgh', 'PA', 'Heinz Field', '100 Art Rooney Avenue, Pittsburgh, Pennsylvania 15212', 68400)""")

'1'

In [41]:
db.query('create table games (id int, week int, date varchar(10), home_team_id int, away_team_id int, home_score int, away_score int, winner_id int, CONSTRAINT game_pk PRIMARY KEY (id))')

In [42]:
db.query("""INSERT INTO games VALUES (2015091000, 1, '09/10/2015', 19, 25, 28, 21, 19)""")

'1'

In [52]:
db.query('create table plays (id int, games_id int, off_team_id int, def_team_id int, play_type varchar(20), qtr int, min int, sec int, down int, yards_to_go int, yards_from_goal int, CONSTRAINT play_pk PRIMARY KEY (id))')

In [53]:
db.query("""INSERT INTO plays VALUES (9, 2015091000, 25, 19, 'pass', 1, 4, 3, 3, 18, 14)""")

'1'

In [54]:
db.query("""ALTER TABLE teams ADD CONSTRAINT teams_stadiums FOREIGN KEY (stadium_id) REFERENCES stadiums(id) NOT DEFERRABLE INITIALLY IMMEDIATE""")
db.query("""ALTER TABLE games ADD CONSTRAINT home_team FOREIGN KEY (home_team_id) REFERENCES teams(id) NOT DEFERRABLE INITIALLY IMMEDIATE""")
db.query("""ALTER TABLE games ADD CONSTRAINT away_team FOREIGN KEY (away_team_id) REFERENCES teams(id) NOT DEFERRABLE INITIALLY IMMEDIATE""")
db.query("""ALTER TABLE games ADD CONSTRAINT winner FOREIGN KEY (winner_id) REFERENCES teams(id) NOT DEFERRABLE INITIALLY IMMEDIATE""")
db.query("""ALTER TABLE plays ADD CONSTRAINT play_game FOREIGN KEY (games_id) REFERENCES games(id) NOT DEFERRABLE INITIALLY IMMEDIATE""")
db.query("""ALTER TABLE plays ADD CONSTRAINT off_team FOREIGN KEY (off_team_id) REFERENCES teams(id) NOT DEFERRABLE INITIALLY IMMEDIATE""")
db.query("""ALTER TABLE plays ADD CONSTRAINT def_team FOREIGN KEY (def_team_id) REFERENCES teams(id) NOT DEFERRABLE INITIALLY IMMEDIATE""")

In [55]:
print db.query('select * from teams')
print db.query('select * from stadiums')
print db.query('select * from games')
print db.query('select * from plays')

id|        name        |conference|division|stadium_id
--+--------------------+----------+--------+----------
 1|Arizona Cardinals   |NFC       |West    |        31
19|New England Patriots|AFC       |East    |        10
25|Pittsburgh Steelers |AFC       |North   |        11
(3 rows)
id|   city   |state|            name             |                       address                       |seat_capacity
--+----------+-----+-----------------------------+-----------------------------------------------------+-------------
31|Glendale  |AZ   |University of Phoenix Stadium|1 Cardinals Drive, Glendale, Arizona 85305           |        63400
10|Foxborough|MA   |Gilette Stadium              |1 Patriot Place, Foxborough, Massachusetts, 02035    |        66829
11|Pittsburgh|PA   |Heinz Field                  |100 Art Rooney Avenue, Pittsburgh, Pennsylvania 15212|        68400
(3 rows)
    id    |week|   date   |home_team_id|away_team_id|home_score|away_score|winner_id
----------+----+----------+------------+------------+----------+----------+---------
2015091000|   1|09/10/2015|          19|          25|        28|        21|       19
(1 row)
id| games_id |off_team_id|def_team_id|play_type|qtr|min|sec|down|yards_to_go|yards_from_goal
--+----------+-----------+-----------+---------+---+---+---+----+-----------+---------------
 9|2015091000|         25|         19|pass     |  1|  4|  3|   3|         18|             14
(1 row)