Kyle Kusuda & Evan Callia

4/26/16

Creating a database/tables.

In [14]:
import sys
sys.path.append('C:\Python27\ArcGIS10.3\Lib\site-packages')
                
from pg import DB

In [15]:
db = DB(dbname = 'geog465_kusuda', host = 'geog-db2.geog.uw.edu', port = 5432, user = 'kusuda', passwd = 'kusuda')

In [33]:

db.query('create table Deadline (id int PRIMARY KEY, deadline varchar(30), time varchar(20))')
db.query('create table Fund (id int PRIMARY KEY REFERENCES Deadline(id), name varchar(50), description varchar(1000), award_amount varchar(100), eligibility varchar(1000), website varchar(1000))')
db.query('create table Departments (id int PRIMARY KEY, name varchar(100))')
#Categories would be referenced but we're only doing 4 tables for this assignment
db.query('create table Summary (id int PRIMARY KEY, fund_id int NOT NULL UNIQUE REFERENCES Fund(id), dept_id int NOT NULL UNIQUE REFERENCES Departments(id), cat_id int NOT NULL UNIQUE)')

In [34]:
db.query("""INSERT INTO Deadline VALUES (1, '9/24/16', '5pm')""")
db.query("""INSERT INTO Fund VALUES (1, 'Green Seattle', 'For a greener Seattle', '10000', 'Green groups', 'www.greenseattlefund.com')""")
db.query("""INSERT INTO Departments VALUES (1, 'Department of Natural Resources')""")
db.query("""INSERT INTO Summary VALUES (1, 1, 1, 1)""")

'1'

In [39]:
print db.query('SELECT * FROM Deadline')

id|deadline|time
--+--------+----
 1|9/24/16 |5pm
(1 row)

In [36]:
print db.query('SELECT * FROM Fund')

id|    name     |     description     |award_amount|eligibility |        website
--+-------------+---------------------+------------+------------+------------------------
 1|Green Seattle|For a greener Seattle|10000       |Green groups|www.greenseattlefund.com
(1 row)

In [37]:
print db.query('SELECT * FROM Departments')

id|             name
--+-------------------------------
 1|Department of Natural Resources
(1 row)

In [38]:
print db.query('SELECT * FROM Summary')

id|fund_id|dept_id|cat_id
--+-------+-------+------
 1|      1|      1|     1
(1 row)