In [1]:
import sys
sys.path.append('C:\Python27\ArcGIS10.3\Lib\site-packages')
import pg
from pg import DB

In [2]:
db = DB(dbname = 'test_db', host = 'geog-db2.geog.uw.edu', port = 5432, user = 'clizotte', passwd = 'clizotte123')

In [3]:
db.query('create table schools (id int, name varchar(40), address varchar (80))')

In [10]:
db.insert('schools', id = 1, name = 'Cleveland H.S.', address = '5511 15th Avenue S' )

{'address': '5511 15th Avenue S', 'id': 1, 'name': 'Cleveland H.S.'}

In [12]:
print db.query('select * from schools')

id|     name     |     address
--+--------------+------------------
 1|Cleveland H.S.|5511 15th Avenue S
(1 row)

In [20]:
db.query("""INSERT INTO schools VALUES (2, 'Franklin H.S.', '3013 S Mount Baker Bvld.')""")

'1'

In [21]:
print db.query('select * from schools')

id|     name     |        address
--+--------------+------------------------
 1|Cleveland H.S.|5511 15th Avenue S
 2|Franklin H.S. |3013 S Mount Baker Bvld.
(2 rows)

In [26]:
schools_list = ["3, 'Rainier Beach H.S.', '8815 Seward Park Ave S'", "4, 'Mercer M.S.', '1600 S Columbian Way'"]

In [28]:
for school in schools_list:
    db.query("""INSERT INTO schools VALUES (%s)""" %school)

In [29]:
print db.query('SELECT * FROM schools')

id|       name       |        address
--+------------------+------------------------
 1|Cleveland H.S.    |5511 15th Avenue S
 2|Franklin H.S.     |3013 S Mount Baker Bvld.
 3|Rainier Beach H.S.|8815 Seward Park Ave S
 4|Mercer M.S.       |1600 S Columbian Way
(4 rows)