In [1]:
import sys
sys.path.append('C:\Python27\ArcGIS10.3\Lib\site-packages')
import pg
from pg import DB

In [4]:
db = DB(dbname = 'geog465_sphong91', host = 'geog-db2.geog.uw.edu', port = 5432, user = 'sphong91', passwd = 'sphong91')

In [25]:
db.query('create table contact_info2 (id int PRIMARY KEY, phone varchar(80), email varchar(80))')

In [19]:
print db.query('select * from contact_info2')

id|phone|email
--+-----+-----
(0 rows)

In [26]:
db.insert('contact_info2', id = 1, phone = '206-123-1234', email = 'uw@uw.edu')

{'email': 'uw@uw.edu', 'id': 1, 'phone': '206-123-1234'}

In [27]:
print db.query('select * from contact_info2')

id|   phone    |  email
--+------------+---------
 1|206-123-1234|uw@uw.edu
(1 row)

In [28]:
db.insert('contact_info2', id = 2, phone = '206-333-4444', email = 'uw2@uw.edu')

{'email': 'uw2@uw.edu', 'id': 2, 'phone': '206-333-4444'}

In [29]:
print db.query('select * from contact_info2')

id|   phone    |  email
--+------------+----------
 1|206-123-1234|uw@uw.edu
 2|206-333-4444|uw2@uw.edu
(2 rows)

In [36]:
db.query('create table ParkName (id int PRIMARY KEY, name varchar(80))')

In [38]:
print db.query('select * from park_name')

id|name
--+----
(0 rows)

In [40]:
db.insert('parkname', id = 1, name = 'OlympicNationalPark')

{'id': 1, 'name': 'OlympicNationalPark'}

In [41]:
print db.query('select * from ParkName')

id|       name
--+-------------------
 1|OlympicNationalPark
(1 row)

In [43]:
db.query('create table parkarea (id int PRIMARY KEY, area varchar(80))')

In [44]:
db.insert('parkarea', id = 1, area = '333,333,333' )

{'area': '333,333,333', 'id': 1}

In [76]:
db.query('create table USANationalParks4 (id int PRIMARY KEY, parknameID int REFERENCES parkname(id),  contactID int REFERENCES contact_info2(id), areaID int REFERENCES area(id))')

In [77]:
print db.query('select * from USANationalParks4')

id|parknameid|contactid|areaid
--+----------+---------+------
(0 rows)

In [78]:
db.insert('usanationalparks4', id = 1, parknameID = 1, contactID = 1, areaID = 1)

{'areaID': 1,
 'areaid': None,
 'contactID': 1,
 'contactid': None,
 'id': 1,
 'parknameID': 1,
 'parknameid': None}

In [62]:
print db.query('select * from parkarea')

id|   area
--+-----------
 1|333,333,333
(1 row)

In [51]:
print db.query('select * from ParkName')

id|       name
--+-------------------
 1|OlympicNationalPark
(1 row)

In [52]:
print db.query('select * from contact_info2')

id|   phone    |  email
--+------------+----------
 1|206-123-1234|uw@uw.edu
 2|206-333-4444|uw2@uw.edu
(2 rows)

In [79]:
print db.query('select * from usanationalparks4')

id|parknameid|contactid|areaid
--+----------+---------+------
 1|          |         |
(1 row)