Zach Ellenberg, Rachel Kirschner, Willard Chan
April 26th, 2016
Creating Databases with PyGreSQL

In [4]:
import sys
sys.path.append(sys.path.append('C:\Python27\ArcGIS10.3\Lib\site-packages'))

In [11]:
import pg
from pg import DB

In [12]:
db = DB(dbname = 'geog465_zellenbe', host = 'geog-db2.geog.uw.edu', port = 5432, user = 'zellenbe', passwd = 'zellenbe')

In [18]:
db.query("""CREATE TABLE Building_Info (
    id int  NOT NULL,
    year_of_occupation varchar  NOT NULL,
    own_or_rent varchar  NOT NULL,
    year_building_built int  NOT NULL,
    year_founded int  NOT NULL,
    previous_facilities int  NOT NULL,
    CONSTRAINT Building_Info_pk PRIMARY KEY (id)
)""")

In [19]:
db.query("""CREATE TABLE Cultural_Spaces (
    id int  NOT NULL,
    name varchar  NOT NULL,
    phone varchar  NOT NULL,
    sq_ft_total int  NOT NULL,
    neighborhood varchar  NOT NULL,
    nonprofit boolean  NOT NULL,
    Discipline_id int  NOT NULL,
    Building_Info_id int  NOT NULL,
    Theater_Info_id int  NOT NULL,
    Visual_Art_id int  NOT NULL,
    ada_compliant boolean  NOT NULL,
    num_parking_spaces int  NOT NULL,
    street_frontage boolean  NOT NULL,
    rental_space_avail boolean  NOT NULL,
    serve_alcohol boolean  NOT NULL,
    funded_by_ac boolean  NOT NULL,
    stability_index int  NOT NULL,
    constituency varchar  NOT NULL,
    site_control_through date  NULL,
    closed_date date  NULL,
    closed boolean  NOT NULL,
    address varchar  NOT NULL,
    location varchar  NOT NULL,
    CONSTRAINT Cultural_Spaces_pk PRIMARY KEY (id)
)""")

In [24]:
db.query("""CREATE TABLE Discipline (
    id int  NOT NULL,
    dominant_discipline varchar  NOT NULL,
    second_discipline varchar  NOT NULL,
    third_discipline varchar  NOT NULL,
    CONSTRAINT Discipline_pk PRIMARY KEY (id)
)""")

In [26]:
db.query("""CREATE TABLE Theater_Info (
    id int  NOT NULL,
    num_theaters int  NOT NULL,
    seats_total int  NOT NULL,
    theater_1 varchar  NOT NULL,
    theater_1_seats int  NOT NULL,
    theater_2 varchar  NOT NULL,
    theater_2_seats int  NOT NULL,
    theater_3 varchar  NOT NULL,
    theater_3_seats int  NOT NULL,
    theater_4 varchar  NOT NULL,
    theater_4_seats int  NOT NULL,
    theater_5 varchar  NOT NULL,
    theater_5_seats int  NOT NULL,
    CONSTRAINT Theater_Info_pk PRIMARY KEY (id)
)""")

In [27]:
db.query("""CREATE TABLE Visual_Art (
    id int  NOT NULL,
    visual_art_galleries boolean  NOT NULL,
    sq_ft int  NOT NULL,
    CONSTRAINT Visual_Art_pk PRIMARY KEY (id)
)""")

In [29]:
db.query("""ALTER TABLE Cultural_Spaces ADD CONSTRAINT Cultural_Spaces_Building_Info
    FOREIGN KEY (Building_Info_id)
    REFERENCES Building_Info (id)  
    NOT DEFERRABLE 
    INITIALLY IMMEDIATE""")

In [30]:
db.query("""ALTER TABLE Cultural_Spaces ADD CONSTRAINT Cultural_Spaces_Discipline
    FOREIGN KEY (Discipline_id)
    REFERENCES Discipline (id)  
    NOT DEFERRABLE 
    INITIALLY IMMEDIATE""")

In [31]:
db.query("""ALTER TABLE Cultural_Spaces ADD CONSTRAINT Cultural_Spaces_Theater_Info
    FOREIGN KEY (Theater_Info_id)
    REFERENCES Theater_Info (id)  
    NOT DEFERRABLE 
    INITIALLY IMMEDIATE""")

In [32]:
db.query("""ALTER TABLE Cultural_Spaces ADD CONSTRAINT Cultural_Spaces_Visual_Art
    FOREIGN KEY (Visual_Art_id)
    REFERENCES Visual_Art (id)  
    NOT DEFERRABLE 
    INITIALLY IMMEDIATE""")

In [42]:
db.insert('building_info', id = 1, year_of_occupation = 2002, own_or_rent = 'Own', year_building_built = 1994, year_founded = 2004,
          previous_facilities = 3)

{'id': 1,
 'own_or_rent': 'Own',
 'previous_facilities': 3,
 'year_building_built': 1994,
 'year_founded': 2004,
 'year_of_occupation': '2002'}

In [43]:
db.insert('discipline', id = 1, dominant_discipline = 'd1', second_discipline = 'd2', third_discipline = 'd3')

{'dominant_discipline': 'd1',
 'id': 1,
 'second_discipline': 'd2',
 'third_discipline': 'd3'}

In [45]:
db.insert('theater_info', id=1, num_theaters = 3, seats_total = 200, theater_1 = 't1', theater_1_seats = 20, theater_2 = 't2',
          theater_2_seats = 25, theater_3 = 't3', theater_3_seats = 55, theater_4 = 't4', theater_4_seats = 20, theater_5 = 't5',
          theater_5_seats = 10)

{'id': 1,
 'num_theaters': 3,
 'seats_total': 200,
 'theater_1': 't1',
 'theater_1_seats': 20,
 'theater_2': 't2',
 'theater_2_seats': 25,
 'theater_3': 't3',
 'theater_3_seats': 55,
 'theater_4': 't4',
 'theater_4_seats': 20,
 'theater_5': 't5',
 'theater_5_seats': 10}

In [46]:
db.insert('visual_art', id = 1, visual_art_galleries = 'FALSE', sq_ft = 0)

{'id': 1, 'sq_ft': 0, 'visual_art_galleries': False}

In [47]:
db.insert('cultural_spaces', id = 1, name = 'Seattle Public Library Delridge', phone = '1234567890', sq_ft_total = 500, 
          neighborhood = 'West Seattle', nonprofit = 'TRUE', discipline_id = 1, building_info_id = 1, theater_info_id = 1,
          visual_art_id = 1, ada_compliant = 'TRUE', num_parking_spaces = 20, street_frontage = 'TRUE', rental_space_avail = 'TRUE',
          serve_alcohol = 'TRUE', funded_by_ac = 'TRUE', stability_index = 1, constituency = 'White', site_control_through = '',
          closed_date = '', closed = 'FALSE', address = 'Space', location = 'Space')

{'ada_compliant': True,
 'address': 'Space',
 'building_info_id': 1,
 'closed': False,
 'closed_date': None,
 'constituency': 'White',
 'discipline_id': 1,
 'funded_by_ac': True,
 'id': 1,
 'location': 'Space',
 'name': 'Seattle Public Library Delridge',
 'neighborhood': 'West Seattle',
 'nonprofit': True,
 'num_parking_spaces': 20,
 'phone': '1234567890',
 'rental_space_avail': True,
 'serve_alcohol': True,
 'site_control_through': None,
 'sq_ft_total': 500,
 'stability_index': 1,
 'street_frontage': True,
 'theater_info_id': 1,
 'visual_art_id': 1}

In [49]:
print db.query('select * from visual_art')

id|visual_art_galleries|sq_ft
--+--------------------+-----
 1|f                   |    0
(1 row)

In [50]:
print db.query('select * from theater_info')

id|num_theaters|seats_total|theater_1|theater_1_seats|theater_2|theater_2_seats|theater_3|theater_3_seats|theater_4|theater_4_seats|theater_5|theater_5_seats
--+------------+-----------+---------+---------------+---------+---------------+---------+---------------+---------+---------------+---------+---------------
 1|           3|        200|t1       |             20|t2       |             25|t3       |             55|t4       |             20|t5       |             10
(1 row)

In [51]:
print db.query('select * from discipline')

id|dominant_discipline|second_discipline|third_discipline
--+-------------------+-----------------+----------------
 1|d1                 |d2               |d3
(1 row)

In [52]:
print db.query('select * from cultural_spaces')

id|             name              |  phone   |sq_ft_total|neighborhood|nonprofit|discipline_id|building_info_id|theater_info_id|visual_art_id|ada_compliant|num_parking_spaces|street_frontage|rental_space_avail|serve_alcohol|funded_by_ac|stability_index|constituency|site_control_through|closed_date|closed|address|location
--+-------------------------------+----------+-----------+------------+---------+-------------+----------------+---------------+-------------+-------------+------------------+---------------+------------------+-------------+------------+---------------+------------+--------------------+-----------+------+-------+--------
 1|Seattle Public Library Delridge|1234567890|        500|West Seattle|t        |            1|               1|              1|            1|t            |                20|t              |t                 |t            |t           |              1|White       |                    |           |f     |Space  |Space
(1 row)