In [8]:
import sys
sys.path.append('C:\Python27\ArcGIS10.3\Lib\site-packages')
import pg
from pg import DB

In [9]:
db = DB(dbname = 'geog465_hyunjlee', host = 'geog-db2.geog.uw.edu', port = 5432, user = 'hyunjlee', passwd = 'hyunjlee')

In [85]:
db.query('create table Market_Type (id int, type varchar(50))')

In [86]:
print db.query('select * from Market_Type')

id|type
--+----
(0 rows)

In [87]:
db.insert('market_type', id = 1, type = 'Limited_Supermarket')

{'id': 1, 'type': 'Limited_Supermarket'}

In [88]:
db.query("""INSERT INTO market_type VALUES (2, 'Full Supermarket')""")

'1'

In [89]:
print db.query('select * from market_type')

id|       type
--+-------------------
 1|Limited_Supermarket
 2|Full Supermarket
(2 rows)

In [29]:
db.query('create table Grocery (id int PRIMARY KEY, name varchar(50), address varchar(80), market_typeID int NOT NULL)')

In [36]:
print db.query('select * from Grocery')

id|name|address|market_typeid
--+----+-------+-------------
(0 rows)

In [39]:
db.insert('grocery', id = 1, name = 'ALDI', address = '3601_COLD_SPRING_LN_Baltimore_MD', market_typeid =1)

IntegrityError: ERROR:  duplicate key value violates unique constraint "grocery_pkey"
DETAIL:  Key (id)=(1) already exists.

In [42]:
db.query("""INSERT INTO grocery VALUES (2, 'ALDI', '3140_WASHINGTON_BLVD_Baltimore_MD', 1)""")

'1'

In [43]:
print db.query('select * from Grocery')

id|name|             address             |market_typeid
--+----+---------------------------------+-------------
 1|ALDI|3601_COLD_SPRING_LN_Baltimore_MD |            1
 2|ALDI|3140_WASHINGTON_BLVD_Baltimore_MD|            1
(2 rows)

In [71]:
db.query('drop table neighborhood')

In [72]:
db.query('create table neighborhood (id int, name varchar(50))')

In [73]:
db.insert('neighborhood', id = 1, name = 'Bolton_Hill')
db.insert('neighborhood', id = 2, name = 'Ashburton')

{'id': 2, 'name': 'Ashburton'}

In [75]:
print db.query('select * from neighborhood')

id|   name
--+-----------
 1|Bolton_Hill
 2|Ashburton
(2 rows)

In [59]:
db.query('drop table market_type')

In [62]:
db.query('create table neighborhood_grocery_location (id int PRIMARY KEY, GroceryID int NOT NULL, neighborhoodID int NOT NULL)')

In [66]:
db.insert('neighborhood_grocery_location', id = 1, groceryid = 1, neighborhoodid = 1)

{'groceryid': 1, 'id': 1, 'neighborhoodid': 1}

In [67]:
db.insert('neighborhood_grocery_location', id = 2, groceryid = 1, neighborhoodid = 1)

{'groceryid': 1, 'id': 2, 'neighborhoodid': 1}

In [68]:
print db.query('select * from neighborhood_grocery_location')

id|groceryid|neighborhoodid
--+---------+--------------
 1|        1|             1
 2|        1|             1
(2 rows)

In [90]:
print db.query('select * from market_type')

id|       type
--+-------------------
 1|Limited_Supermarket
 2|Full Supermarket
(2 rows)

In [80]:
print db.query('select * from Grocery')

id|name|             address             |market_typeid
--+----+---------------------------------+-------------
 1|ALDI|3601_COLD_SPRING_LN_Baltimore_MD |            1
 2|ALDI|3140_WASHINGTON_BLVD_Baltimore_MD|            1
(2 rows)

In [81]:
print db.query('select * from neighborhood')

id|   name
--+-----------
 1|Bolton_Hill
 2|Ashburton
(2 rows)