In [12]:
import sys
sys.path.append('C:\Python27\ArcGIS10.3\Lib\site-packages')
import pg
from pg import DB

In [13]:
db = DB(dbname = 'test_db', host = 'geog-db2.geog.uw.edu', port = 5432, user = 'sock', passwd = 'sock')

In [14]:
db.query('CREATE TABLE Applicant (id int PRIMARY KEY, LastName varchar NOT NULL, FirstName varchar NOT NULL)')

ProgrammingError: ERROR:  relation "applicant" already exists

In [15]:
db.query("""INSERT INTO Applicant VALUES (1, 'Novion', 'Einar')""")

IntegrityError: ERROR:  duplicate key value violates unique constraint "applicant_pk"
DETAIL:  Key (id)=(1) already exists.

In [16]:
print db.query('select * from applicant')

id|lastname|firstname
--+--------+---------
 2|Lee     |Alex
 3|Lindsey |Troy
 4|Bob     |Jim
 5|Mar     |Philip
 1|Novion  |Einar
(5 rows)

In [17]:
applicant_list = ["3, 'Lindsey', 'Troy'", "4, 'Bob', 'Jim'", "5, 'Mar', 'Philip'"]

In [18]:
for applicant in applicant_list:
    db.query("""INSERT INTO applicant VALUES (%s)""" %applicant)

IntegrityError: ERROR:  duplicate key value violates unique constraint "applicant_pk"
DETAIL:  Key (id)=(3) already exists.

In [19]:
db.query('CREATE TABLE Application (id int NOT NULL, ApplicantId varchar NOT NULL, ApplicationDate date NOT NULL, DecisionDate date NOT NULL, Appealed boolean NOT NULL, Status varchar NOT NULL, Applicant_id int NOT NULL)')

ProgrammingError: ERROR:  relation "application" already exists

In [20]:
db.query("""INSERT INTO Application VALUES (1, 1, '2016-02-25', '2016-02-25', TRUE, 'Appending', 1)""")

'1'

In [21]:
print db.query('select * from application')

id|applicantid|applicationdate|decisiondate|appealed| status  |applicant_id
--+-----------+---------------+------------+--------+---------+------------
 1|1          |2016-02-25     |2016-02-25  |t       |Appending|           1
 1|1          |2016-02-25     |2016-02-25  |t       |Appending|           1
(2 rows)

In [22]:
db.query('CREATE TABLE Design (id int NOT NULL, Category varchar NOT NULL, DesignType varchar NOT NULL, DesignIncluded boolean NOT NULL)')

ProgrammingError: ERROR:  relation "design" already exists

In [23]:
db.query("""INSERT INTO Design VALUES (1, 'Multifamily', 'I', True)""")

'1'

In [24]:
print db.query('select * from Design')

id| category  |designtype|designincluded
--+-----------+----------+--------------
 1|Multifamily|I         |t
 1|Multifamily|I         |t
(2 rows)

In [25]:
db.query('CREATE TABLE LandUsePermits (id int NOT NULL, PermitNumber int NOT NULL, PermitType varchar NOT NULL, Description varchar NOT NULL, Value money NOT NULL, LocationId int NOT NULL, Application_id int REFERENCES Application(id), DesignId int NOT NULL)')

ProgrammingError: ERROR:  relation "landusepermits" already exists

In [26]:
db.query("""INSERT INTO LandUsePermits VALUES (1, 1, 'Sexy', 'Short Plat', '5123.23', 1, 1, 1)""")

'1'

In [27]:
print db.query('select * from LandUsePermits')

id|permitnumber|permittype|description|  value  |locationid|applicant_id|designid
--+------------+----------+-----------+---------+----------+------------+--------
 1|           1|Sexy      |5123.23    |    $1.00|         1|           1|       1
 1|           1|Sexy      |Short Plat |$5,123.23|         1|           1|       1
 1|           1|Sexy      |Short Plat |$5,123.23|         1|           1|       1
(3 rows)