In [1]:
import sys
sys.path.append('C:\Python27\ArcGIS10.3\Lib\site-packages')
import pg
from pg import DB

In [2]:
db = DB(dbname = 'geog465_loperz23', host = 'geog-db2.geog.uw.edu', port = 5432, user = 'loperz23', passwd = 'loperz23')

In [4]:
db.query('CREATE TABLE artist (id int PRIMARY KEY, name_last varchar(15), name_first varchar(15), CONSTRAINT artst_cnsrt UNIQUE (name_last, name_first))')

In [5]:
db.query('CREATE TABLE location (id int PRIMARY KEY, location varchar(50) NOT NULL, address varchar(50) NOT NULL, latitude float NOT NULL, longitude float NOT NULL )')

In [6]:
db.query('CREATE TABLE art (id int PRIMARY KEY, title varchar(40) UNIQUE, description varchar(100), location_id int REFERENCES location(id), measurments varchar(50), date date, project varchar(20)) ')

In [7]:
db.query('CREATE TABLE artist_art (art_id int REFERENCES art(id), artist_id int REFERENCES artist(id), PRIMARY KEY (art_id, artist_id))')

In [8]:
db.get_tables()

['public.art',
 'public.artist',
 'public.artist_art',
 'public.location',
 'public.sde_spatial_references',
 'sde.gdb_itemrelationships',
 'sde.gdb_itemrelationshiptypes',
 'sde.gdb_items',
 'sde.gdb_itemtypes',
 'sde.gdb_replicalog',
 'sde.gdb_tables_last_modified',
 'sde.i2',
 'sde.i3',
 'sde.i4',
 'sde.i5',
 'sde.i6',
 'sde.sde_archives',
 'sde.sde_column_registry',
 'sde.sde_coordinate_systems',
 'sde.sde_dbtune',
 'sde.sde_geometry_columns',
 'sde.sde_layer_locks',
 'sde.sde_layer_stats',
 'sde.sde_layers',
 'sde.sde_lineages_modified',
 'sde.sde_locators',
 'sde.sde_logfile_pool',
 'sde.sde_metadata',
 'sde.sde_mvtables_modified',
 'sde.sde_object_ids',
 'sde.sde_object_locks',
 'sde.sde_process_information',
 'sde.sde_raster_columns',
 'sde.sde_server_config',
 'sde.sde_state_lineages',
 'sde.sde_state_locks',
 'sde.sde_states',
 'sde.sde_table_locks',
 'sde.sde_table_registry',
 'sde.sde_tables_modified',
 'sde.sde_version',
 'sde.sde_versions',
 'sde.sde_xml_columns',
 'sde.sde_xml_index_tags',
 'sde.sde_xml_indexes']

In [9]:
db.query("""INSERT INTO artist VALUES (1,'Bartoldi', 'After')""" )

'1'

In [10]:
db.query("""INSERT INTO location VALUES (1, 'Alki Beach', '61st AVE SW & Alki Ave SW', '47.579383', '-122.410633') """)

'1'

In [17]:
db.query("""INSERT INTO art VALUES (1,'Little Liberty', 'Replica of the Statue of Liberty', 1, '6ft 10in x 3ft 6in x 2ft 11in', '1952-01-01', 'Alki Beach')""" )

'1'

In [18]:
db.query("""INSERT INTO artist_art VALUES (1, 1)""" )

'1'

In [22]:
print db.query('SELECT * FROM artist')

id|name_last|name_first
--+---------+----------
 1|Bartoldi |After
(1 row)

In [23]:
print db.query('SELECT * FROM art')

id|    title     |          description           |location_id|         measurments         |   date   | project
--+--------------+--------------------------------+-----------+-----------------------------+----------+----------
 1|Little Liberty|Replica of the Statue of Liberty|          1|6ft 10in x 3ft 6in x 2ft 11in|1952-01-01|Alki Beach
(1 row)

In [24]:
print db.query('SELECT * FROM location')

id| location |         address         |latitude | longitude
--+----------+-------------------------+---------+-----------
 1|Alki Beach|61st AVE SW & Alki Ave SW|47.579383|-122.410633
(1 row)

In [25]:
print db.query('SELECT * FROM artist_art')

art_id|artist_id
------+---------
     1|        1
(1 row)