In [30]:
import sys
sys.path.append('C:\Python27\ArcGIS10.3\Lib\site-packages')
import pg
from pg import DB

In [31]:
db = DB(dbname = 'geog465_hyunkyu', host = 'geog-db2.geog.uw.edu', port = 5432, user = 'hyunkyu', passwd = 'hyunkyu')

In [38]:
db.query('create table BuildingPermit (id int PRIMARY KEY, ApplicantName_id int REFERNECES ApplicantName(id), PermitType varchar(40) NOT NULL, PermitNumber varchar(40) NOT NULL)')

ProgrammingError: ERROR:  syntax error at or near "REFERNECES"
LINE 1: ...gPermit (id int PRIMARY KEY, ApplicantName_id int REFERNECES...
                                                             ^

In [54]:
#applicantname table
db.query('create table ApplicantName (ApplicatntNameID int NOT NULL, FirstName varchar(40)  NOT NULL, LastName varchar(40)  NOT NULL, BuildingPermitID_id int REFERENCES BuildingPermit(BuildingPermitID), CONSTRAINT ApplicantName_pk PRIMARY KEY (ApplicatntNameID))')

In [55]:
#create address table
db.query('create table Address (AddressID int NOT NULL, street varchar(40) NOT NULL, city varchar(40) NOT NULL, state varchar(40) NOT NULL, BuildingPermitID_id int REFERENCES BuildingPermit(BuildingPermitID), CONSTRAINT Address_pk PRIMARY KEY (AddressID))')

In [57]:
#create value table
db.query('create table Value (ValueID int NOT NULL, ValueAmount int NOT NULL, BuildingPermitID_id int REFERENCES BuildingPermit(BuildingPermitID), CONSTRAINT Value_pk PRIMARY KEY (ValueID))')

In [51]:
db.query('drop table ApplicantName')

In [62]:
buildingPermit_list = ["1, 'Demo', '123456'"]
for permit in buildingPermit_list:
    db.query("""INSERT INTO buildingPermit VALUES (%s)""" %permit)

In [68]:
address_list = ["1, '1234 king st', 'seattle', 'WA' "]
for address in address_list:
    db.query("""INSERT INTO Address VALUES (%s)""" %address)

In [69]:
value_list = ["1, 1000000 "]
for value in value_list:
    db.query("""INSERT INTO Value VALUES (%s)""" %value)

In [70]:
applicantName_list = ["1, 'denny', 'oh'"]
for name in applicantName_list:
    db.query("""INSERT INTO ApplicantName VALUES (%s)""" %name)

In [71]:
print db.query('select * from applicantName')

applicatntnameid|firstname|lastname|buildingpermitid_id
----------------+---------+--------+-------------------
               1|denny    |oh      |
(1 row)