In [ ]:
import sys
sys.path.append('C:\Python27\ArcGIS10.3\Lib\site-packages')
import pg
from pg import DB

In [ ]:
# statement for creation of relational table in the database
CREATE TABLE Feature (
    featureId int (5)  NOT NULL,
    featureName varchar(50)  NOT NULL,
    CONSTRAINT Feature_pk PRIMARY KEY (featureId) -- this part is for the primary key
) ;

CREATE TABLE city (
    cityid int (5)  NOT NULL,
    cityName varchar(50)  NULL,
    CONSTRAINT city_pk PRIMARY KEY (cityid) -- this part is for the primary key
) ;

CREATE TABLE citifeatures (
    Feature_featureId int (5)  NOT NULL,
    city_cityid int (5)  NOT NULL,
    CONSTRAINT citifeatures_pk PRIMARY KEY (Feature_featureId,city_cityid) -- this part is for the primary key
) ;

CREATE TABLE Location (
    locationId int (5)  NOT NULL,
    citifeatures_Feature_featureId int (5)  NOT NULL,
    citifeatures_city_cityid int (5)  NOT NULL,
    commonName varchar(50)  NOT NULL,
    address varchar(60)  NOT NULL,
    website varchar(250)  NOT NULL,
    LNG double(15,7)  NOT NULL,
    LAT double(15,7)  NOT NULL,
    CONSTRAINT Location_pk PRIMARY KEY (locationId) -- this part is for the primary key
) ;

In [ ]:
# statement for creation of relation, or foreign key, between two tables

ALTER TABLE Location ADD CONSTRAINT Location_citifeatures 
    FOREIGN KEY (citifeatures_Feature_featureId,citifeatures_city_cityid)
    REFERENCES citifeatures (Feature_featureId,city_cityid);
    
ALTER TABLE citifeatures ADD CONSTRAINT citifeatures_Feature 
    FOREIGN KEY (Feature_featureId)
    REFERENCES Feature (featureId);
    
ALTER TABLE citifeatures ADD CONSTRAINT citifeatures_city 
    FOREIGN KEY (city_cityid)
    REFERENCES city (cityid);

In [ ]:
# insert some data into the database
insert into city (cityid,cityname) values (1,'Seattle');
insert into city (cityid,cityname) values (2,'Spokane');
insert into city (cityid,cityname) values (3,'Tacoma');
insert into city (cityid,cityname) values (4,'Vancouver');


insert into feature (featureId,featureName) values (1,'Library');
insert into feature (featureId,featureName) values (2,'Park');
insert into feature (featureId,featureName) values (3,'Museum');
insert into feature (featureId,featureName) values (4,'Theatre');



insert into citifeatures (    Feature_featureId,   city_cityid ) values (1,1);
insert into citifeatures (    Feature_featureId,   city_cityid ) values (2,1);
insert into citifeatures (    Feature_featureId,   city_cityid ) values (3,1);
insert into citifeatures (    Feature_featureId,   city_cityid ) values (4,1);


insert into citifeatures (    Feature_featureId,   city_cityid ) values (3,2);

insert into citifeatures (    Feature_featureId,   city_cityid ) values (2,3);

insert into citifeatures (    Feature_featureId,   city_cityid ) values (4,4);


insert into  Location (    locationId ,    citifeatures_Feature_featureId ,    citifeatures_city_cityid ,    commonName,    address,    website ,    LNG ,    LAT ) values
(1,1,1,'Dorothy Stimson Bullitt Library','100 University St','seattleartmuseum.org',47.6057,-122.3371);

insert into  Location (    locationId ,    citifeatures_Feature_featureId ,    citifeatures_city_cityid ,    commonName,    address,    website ,    LNG ,    LAT ) values
(2,1,1,'Region 10 Library','1200 6th Ave #900','epa.gov',47.6090,-122.3320);

insert into  Location (    locationId ,    citifeatures_Feature_featureId ,    citifeatures_city_cityid ,    commonName,    address,    website ,    LNG ,    LAT ) values
(3,1,1,'Virginia Mason Med Center Library','925 Seneca St','masnomed.org',47.6098,-122.3285);

insert into  Location (    locationId ,    citifeatures_Feature_featureId ,    citifeatures_city_cityid ,    commonName,    address,    website ,    LNG ,    LAT ) values
(4,2,1,'Westlake Park','401 Pine St','seattle.gov',47.6109,-122.3373);

insert into  Location (    locationId ,    citifeatures_Feature_featureId ,    citifeatures_city_cityid ,    commonName,    address,    website ,    LNG ,    LAT ) values
(5,2,1,'Jim Ellis Freeway Park','700 Seneca St','seattle.gov',47.6092,-122.3312);

insert into  Location (    locationId ,    citifeatures_Feature_featureId ,    citifeatures_city_cityid ,    commonName,    address,    website ,    LNG ,    LAT ) values
(6,3,1,'Frye Art Museum','704 Terry Ave','fryemuseum.org',47.6069,-122.3241);

insert into  Location (    locationId ,    citifeatures_Feature_featureId ,    citifeatures_city_cityid ,    commonName,    address,    website ,    LNG ,    LAT ) values
(7,3,1,'Seattle Pinball Museum','508 Maynard Ave S','seattlepinballmuseum.com',47.5976,-122.3251);

insert into  Location (    locationId ,    citifeatures_Feature_featureId ,    citifeatures_city_cityid ,    commonName,    address,    website ,    LNG ,    LAT ) values
(8,4,1,'Paramount Theatre','911 Pine St','stgpresents.org',47.6132,-122.3315);


insert into  Location (    locationId ,    citifeatures_Feature_featureId ,    citifeatures_city_cityid ,    commonName,    address,    website ,    LNG ,    LAT ) values
(9,4,1,'ACT Theatre','700 Union St','acttheatre.org',47.6112,-122.3328);

insert into  Location (    locationId ,    citifeatures_Feature_featureId ,    citifeatures_city_cityid ,    commonName,    address,    website ,    LNG ,    LAT ) values
(10,4,1,'Annex Theatre','1100 E Pike St','annextheatre.org',47.6140,-122.3180);

insert into  Location (    locationId ,    citifeatures_Feature_featureId ,    citifeatures_city_cityid ,    commonName,    address,    website ,    LNG ,    LAT ) values
(11,3,2,'Mobius Childrens Museum','River Park Square','mobiusspokane.org',47.6578,-117.4292);

insert into  Location (    locationId ,    citifeatures_Feature_featureId ,    citifeatures_city_cityid ,    commonName,    address,    website ,    LNG ,    LAT ) values
(12,2,3,'Jefferson Park','801 N Mason Ave','metroparkstacoma.org',47.2543,-122.5168);

insert into  Location (    locationId ,    citifeatures_Feature_featureId ,    citifeatures_city_cityid ,    commonName,    address,    website ,    LNG ,    LAT ) values
(13,4,4,'The Orpheum','601 Smithe St','vancouver.ca',49.2801,-123.1209);