In [72]:
import sys
sys.path.append('C:\Python27\ArcGIS10.3\Lib\site-packages')
import pg
from pg import DB

In [73]:
db = DB(dbname = 'geog465_ltuan', host = 'geog-db2.geog.uw.edu', port = 5432, user = 'ltuan', passwd = 'ltuan')

In [74]:
db.query('create table case (id int PRIMARY KEY, number int NOT NULL UNIQUE, address varchar(30) NOT NULL)')

ProgrammingError: ERROR:  syntax error at or near "case"
LINE 1: create table case (id int PRIMARY KEY, number int NOT NULL U...
                     ^

In [ ]:
db.insert('case', id = 1, number = '1037312', address = '3409 S JUNEAU ST')

In [ ]:
print db.query('select * FROM case')

In [ ]:
db.query('create table group (id int PRIMARY KEY, case_group varchar(15) NOT NULL)')

In [ ]:
case_list = ["1, 'ZONING'", "2, 'WEEDS AND VEGETATION'","3, 'ZONING'"]

In [ ]:
for case in case_list:
    db.query("""INSERT INTO group VALUES (%s)"""%case)

In [ ]:
print db.query('SELECT * FROM group')

In [ ]:
db.query('create table type (id int PRIMARY KEY, type_of_activity varchar(15))')

In [ ]:
activity_type_list = ["1, 'CITATION'", "2, 'HOUSING/ZONING", "3, 'CITATION'"]

In [ ]:
for activity in activity_type_list:
    db.query("""INSERT INTO type VALUES (%s)"""%activity)

In [ ]:
print db.query('SELECT * FROM type')

In [ ]:
db.query('create table final_outcome (id int PRIMARY KEY, status varchar(15) NOT NULL, case id int NOT NULL UNIQUE)')

In [ ]:
final_outcome_list = ["1, 'OPEN', '1037321'", "2, 'OPEN', '1037320'", "3, 'OPEN', '1037319'"]

In [ ]:
for elt in final_outcome_list:
    db.query("""INSERT INTO final_outcome VALUES (%s)"""%elt)

In [ ]:
print db.query('SELECT * FROM final_outcome')