In [2]:
import sys #import sys so I can append the path where PyGreSQL is to its list of Python package directories

In [3]:
sys.path.append('C:\Python27\ArcGIS10.3\Lib\site-packages')

In [6]:
import pg #import PyGreSQL

In [8]:
from pg import DB #import the DB class so we can create a connection

In [9]:
db = DB(dbname = 'clizotte', host = 'geog-db2.geog.uw.edu', port = 5432, user = 'clizotte', passwd = 'clizotte123') #Create a database connection with my credentials

In [113]:
db.get_tables() #verify my connection

['public.department_two',
 'public.departments',
 'public.equipment',
 'public.link',
 'public.prim',
 'public.schools',
 'public.sde_spatial_references',
 'public.soldby',
 'sde.gdb_itemrelationships',
 'sde.gdb_itemrelationshiptypes',
 'sde.gdb_items',
 'sde.gdb_itemtypes',
 'sde.gdb_replicalog',
 'sde.gdb_tables_last_modified',
 'sde.i2',
 'sde.i3',
 'sde.i4',
 'sde.i5',
 'sde.i6',
 'sde.sde_archives',
 'sde.sde_column_registry',
 'sde.sde_coordinate_systems',
 'sde.sde_dbtune',
 'sde.sde_geometry_columns',
 'sde.sde_layer_locks',
 'sde.sde_layer_stats',
 'sde.sde_layers',
 'sde.sde_lineages_modified',
 'sde.sde_locators',
 'sde.sde_logfile_pool',
 'sde.sde_metadata',
 'sde.sde_mvtables_modified',
 'sde.sde_object_ids',
 'sde.sde_object_locks',
 'sde.sde_process_information',
 'sde.sde_raster_columns',
 'sde.sde_server_config',
 'sde.sde_state_lineages',
 'sde.sde_state_locks',
 'sde.sde_states',
 'sde.sde_table_locks',
 'sde.sde_table_registry',
 'sde.sde_tables_modified',
 'sde.sde_version',
 'sde.sde_versions',
 'sde.sde_xml_columns',
 'sde.sde_xml_index_tags',
 'sde.sde_xml_indexes']

In [13]:
db.get_tables() #verify that tables were dropped

['public.department_two',
 'public.prim',
 'public.schools',
 'public.sde_spatial_references',
 'public.soldby',
 'sde.gdb_itemrelationships',
 'sde.gdb_itemrelationshiptypes',
 'sde.gdb_items',
 'sde.gdb_itemtypes',
 'sde.gdb_replicalog',
 'sde.gdb_tables_last_modified',
 'sde.i2',
 'sde.i3',
 'sde.i4',
 'sde.i5',
 'sde.i6',
 'sde.sde_archives',
 'sde.sde_column_registry',
 'sde.sde_coordinate_systems',
 'sde.sde_dbtune',
 'sde.sde_geometry_columns',
 'sde.sde_layer_locks',
 'sde.sde_layer_stats',
 'sde.sde_layers',
 'sde.sde_lineages_modified',
 'sde.sde_locators',
 'sde.sde_logfile_pool',
 'sde.sde_metadata',
 'sde.sde_mvtables_modified',
 'sde.sde_object_ids',
 'sde.sde_object_locks',
 'sde.sde_process_information',
 'sde.sde_raster_columns',
 'sde.sde_server_config',
 'sde.sde_state_lineages',
 'sde.sde_state_locks',
 'sde.sde_states',
 'sde.sde_table_locks',
 'sde.sde_table_registry',
 'sde.sde_tables_modified',
 'sde.sde_version',
 'sde.sde_versions',
 'sde.sde_xml_columns',
 'sde.sde_xml_index_tags',
 'sde.sde_xml_indexes']

In [12]:
db.query('drop table equipment, link, departments') #drop i.e. delete tables so I can start over for demonstration purposes

In [14]:
db.query('create table equipment (id varchar(20) primary key, year date, dept_id int, sold_by int)')

In [15]:
db.query('create table departments (id int primary key, dept varchar(20))')

In [16]:
db.query('create table link (equip_id varchar(20), dept varchar(20), sold_by varchar(50))')

In [17]:
import csv #We'll use csv to copy the contents of our csv files to the database due to issues using COPY from local to network

In [38]:
f = open('U:\Sold_Fleet_Equipment.csv')

In [39]:
reader = csv.reader(f, delimiter = ',')

In [40]:
my_list = []

In [41]:
next(reader, None) #skip header row
for row in reader:
    my_list.append([row[0], row[5], row[8]]) #only pick out the columns I want

In [42]:
for i in range (0, 10):
    print my_list[i] #print 10 records to verify that I have the records I want

['01404', 'SPD', 'BIDADOO ONLINE AUCTION']
['03007', 'DOIT', 'BIDADOO ONLINE AUCTION']
['03011', 'DOIT', 'MURPHYS AUCTION']
['03015', 'FAS', 'MURPHYS AUCTION']
['03024', 'FAS', 'BIDADOO ONLINE AUCTION']
['03039', 'FAS', 'BIDADOO ONLINE AUCTION']
['03044', 'FAS', 'BIDADOO ONLINE AUCTION']
['03168', 'SPD', 'BIDADOO ONLINE AUCTION']
['03180', 'FAS', 'MURPHYS AUCTION']
['03201', 'SPD', 'MURPHYS AUCTION']

In [43]:
f.close()

In [44]:
db.inserttable('link', my_list) #write list to database table 'link'

In [45]:
f = open('U:\equipment.csv') #repeat the process; I reuse the same variable names

In [46]:
reader = csv.reader(f)

In [47]:
my_list = []

In [48]:
next(reader, None)
for row in reader:
    my_list.append(row) #I want all the columns, so no need to specify which ones

In [49]:
for i in range (0, 10):
    print my_list[i]

['1', '2000', '0', '0']
['2', '2000', '0', '0']
['3', '2000', '0', '0']
['4', '2000', '0', '0']
['5', '2000', '0', '0']
['6', '2000', '0', '0']
['7', '2000', '0', '0']
['8', '2000', '0', '0']
['9', '2000', '0', '0']
['10', '2000', '0', '0']

In [50]:
db.inserttable('equipment', my_list) #it doesn't like my date format for the column "year"

IOError: ERROR:  invalid input syntax for type date: "2000"
CONTEXT:  COPY equipment, line 1, column year: "2000"

In [51]:
db.query('alter table equipment alter column year set data type varchar(10)') #No worries, I'll change the data type of that column

In [52]:
db.inserttable('equipment', my_list) # works now

In [53]:
f.close()

In [54]:
f = open('U:\department.csv') #One more time!

In [55]:
reader = csv.reader(f)

In [56]:
my_list = []

In [57]:
next(reader, None)
for row in reader:
    my_list.append(row)

In [58]:
for i in range (0, 10):
    print my_list[i]

['1', 'SPD']
['2', 'DOIT']
['3', 'FAS']
['4', 'DON']
['5', 'DPR']
['6', 'SDOT']
['7', 'SPU']
['8', 'CEN']
['9', 'SFD']
['10', 'DPD']

In [59]:
db.inserttable('departments', my_list) #Done!

In [68]:
print db.query('select * from departments where id < 11') #verify data was entered correctly in my database

id|dept
--+----
 1|SPD
 2|DOIT
 3|FAS
 4|DON
 5|DPR
 6|SDOT
 7|SPU
 8|CEN
 9|SFD
10|DPD
(10 rows)

In [105]:
db.query('insert into equipment (id) select (equip_id) from link')

'883'

In [96]:
db.query('alter table equipment drop constraint equipment_pkey')

In [110]:
print db.query("select * from equipment") #Show that my dept_id foreign key field is unpopulated; ignore the fact that 'year'

  id   |year|dept_id|sold_by
-------+----+-------+-------
84616  |    |      8|
87003  |    |      8|
7019   |    |      8|
87023  |    |      8|
71990  |    |      8|
72747  |    |      8|
51164  |    |      8|
51161  |    |      8|
47002  |    |      8|
41992  |    |      8|
973655 |    |      8|
07135  |    |      8|
81998  |    |      8|
13001  |    |      2|
13437  |    |      2|
13438  |    |      2|
03007  |    |      2|
13439  |    |      2|
03208  |    |      2|
03207  |    |      2|
53446  |    |      2|
03011  |    |      2|
53447  |    |      2|
11401  |    |      2|
03221  |    |      4|
51136  |    |     10|
21097  |    |     10|
41278  |    |     10|
12172  |    |     10|
21845  |    |     10|
21854  |    |     10|
52147  |    |     10|
52081  |    |     10|
51848  |    |     10|
51169  |    |     10|
12412  |    |     10|
51021  |    |     10|
13374  |    |      5|
13403  |    |      5|
13407  |    |      5|
13409  |    |      5|
13424  |    |      5|
13452  |    |      5|
993908 |    |      5|
13782  |    |      5|
13796  |    |      5|
13797  |    |      5|
13798  |    |      5|
13889  |    |      5|
13962  |    |      5|
993354 |    |      5|
14575  |    |      5|
53882  |    |      5|
53891  |    |      5|
53892  |    |      5|
53893  |    |      5|
53894  |    |      5|
63383  |    |      5|
58024  |    |      5|
58025  |    |      5|
58029  |    |      5|
58030  |    |      5|
58031  |    |      5|
58033  |    |      5|
58034  |    |      5|
58036  |    |      5|
58037  |    |      5|
58045  |    |      5|
58057  |    |      5|
58067  |    |      5|
58070  |    |      5|
58074  |    |      5|
58076  |    |      5|
58080  |    |      5|
58113  |    |      5|
58117  |    |      5|
58122  |    |      5|
58137  |    |      5|
58141  |    |      5|
58174  |    |      5|
58178  |    |      5|
58179  |    |      5|
13163  |    |      5|
5869   |    |      5|
13338  |    |      5|
13340  |    |      5|
13345  |    |      5|
13352  |    |      5|
13358  |    |      5|
155996 |    |      5|
15925  |    |      5|
18143  |    |      5|
21238  |    |      5|
21243  |    |      5|
983969 |    |      5|
21294  |    |      5|
21307  |    |      5|
21838  |    |      5|
21855  |    |      5|
23060  |    |      5|
23062  |    |      5|
983903 |    |      5|
23307  |    |      5|
23308  |    |      5|
23309  |    |      5|
23310  |    |      5|
23311  |    |      5|
23316  |    |      5|
23318  |    |      5|
23319  |    |      5|
23323  |    |      5|
23325  |    |      5|
23327  |    |      5|
23328  |    |      5|
23330  |    |      5|
23344  |    |      5|
23364  |    |      5|
23395  |    |      5|
23441  |    |      5|
23805  |    |      5|
23932  |    |      5|
23974  |    |      5|
25600  |    |      5|
88115  |    |      5|
25889  |    |      5|
25890  |    |      5|
25891  |    |      5|
25892  |    |      5|
25893  |    |      5|
88068  |    |      5|
03301  |    |      5|
03303  |    |      5|
03811  |    |      5|
31460  |    |      5|
03885  |    |      5|
03921  |    |      5|
31874  |    |      5|
87129  |    |      5|
05802  |    |      5|
32447  |    |      5|
05861  |    |      5|
P1744  |    |      5|
33248  |    |      5|
P1738  |    |      5|
33313  |    |      5|
33317  |    |      5|
3332   |    |      5|
33320  |    |      5|
33321  |    |      5|
33324  |    |      5|
33404  |    |      5|
33405  |    |      5|
33413  |    |      5|
33417  |    |      5|
33425  |    |      5|
85877  |    |      5|
33705  |    |      5|
33706  |    |      5|
33708  |    |      5|
33726  |    |      5|
33957  |    |      5|
33965  |    |      5|
33975  |    |      5|
33977  |    |      5|
82468  |    |      5|
82467  |    |      5|
82464  |    |      5|
82456  |    |      5|
82453  |    |      5|
81740  |    |      5|
81723  |    |      5|
8120678|    |      5|
34633  |    |      5|
80504  |    |      5|
80204  |    |      5|
3510   |    |      5|
80202  |    |      5|
35801  |    |      5|
78142  |    |      5|
78140  |    |      5|
78138  |    |      5|
38144  |    |      5|
38145  |    |      5|
P1702  |    |      5|
P1686  |    |      5|
P140753|    |      5|
78116  |    |      5|
11053  |    |      5|
P0320  |    |      5|
41923  |    |      5|
42906  |    |      5|
78081  |    |      5|
78079  |    |      5|
78064  |    |      5|
78048  |    |      5|
43312  |    |      5|
43315  |    |      5|
43410  |    |      5|
43415  |    |      5|
43416  |    |      5|
43418  |    |      5|
43419  |    |      5|
43442  |    |      5|
43443  |    |      5|
43445  |    |      5|
78028  |    |      5|
78026  |    |      5|
43634  |    |      5|
43790  |    |      5|
43897  |    |      5|
43915  |    |      5|
43923  |    |      5|
43945  |    |      5|
43948  |    |      5|
43949  |    |      5|
43951  |    |      5|
43958  |    |      5|
43985  |    |      5|
43997  |    |      5|
73938  |    |      5|
45885  |    |      5|
45964  |    |      5|
45969  |    |      5|
51311  |    |      5|
51419  |    |      5|
68157  |    |      5|
51439  |    |      5|
68139  |    |      5|
68131  |    |      5|
68044  |    |      5|
51882  |    |      5|
51892  |    |      5|
52086  |    |      5|
68032  |    |      5|
53035  |    |      5|
53041  |    |      5|
53046  |    |      5|
11852  |    |      5|
11863  |    |      5|
12090  |    |      5|
63955  |    |      5|
53862  |    |      5|
53873  |    |      5|
53874  |    |      5|
53878  |    |      5|
53881  |    |      5|
32910  |    |      3|
03039  |    |      3|
03044  |    |      3|
77428  |    |      3|
30990  |    |      3|
23028  |    |      3|
53042  |    |      3|
23018  |    |      3|
11714  |    |      3|
33532  |    |      3|
11713  |    |      3|
13052  |    |      3|
93009  |    |      3|
83004  |    |      3|
73032  |    |      3|
03015  |    |      3|
41272  |    |      3|
7022   |    |      3|
97412  |    |      3|
03180  |    |      3|
13034  |    |      3|
11406  |    |      3|
53254  |    |      3|
03024  |    |      3|
62917  |    |      3|
53253  |    |      3|
13182  |    |      3|
53251  |    |      3|
31306  |    |      3|
15082  |    |      3|
15124  |    |      3|
77306  |    |      3|
31281  |    |      3|
31270  |    |      3|
53030  |    |      3|
21235  |    |     12|
33118  |    |     12|
51444  |    |     11|
21167  |    |     11|
21191  |    |     11|
21211  |    |     11|
51359  |    |     11|
51261  |    |     11|
41208  |    |     11|
41212  |    |     11|
51299  |    |     11|
41209  |    |     11|
51259  |    |     11|
33227  |    |     14|
52020  |    |     15|
30459  |    |      6|
33632  |    |      6|
85533  |    |      6|
33698  |    |      6|
55754  |    |      6|
55698  |    |      6|
33712  |    |      6|
51309  |    |      6|
53555  |    |      6|
55698  |    |      6|
55538  |    |      6|
53570  |    |      6|
51432  |    |      6|
51535  |    |      6|
51625  |    |      6|
51674  |    |      6|
51680  |    |      6|
63541  |    |      6|
53614  |    |      6|
53665  |    |      6|
E0943  |    |      6|
57401  |    |      6|
63545  |    |      6|
57145  |    |      6|
E0943  |    |      6|
11609  |    |      6|
63580  |    |      6|
985681 |    |      6|
985680 |    |      6|
52567  |    |      6|
15655  |    |      6|
985539 |    |      6|
17222  |    |      6|
985696 |    |      6|
53503  |    |      6|
53506  |    |      6|
25691  |    |      6|
77148  |    |      6|
75744  |    |      6|
75743  |    |      6|
75742  |    |      6|
75736  |    |      6|
75689  |    |      6|
26593  |    |      6|
27227  |    |      6|
13564  |    |      6|
30906  |    |      6|
75684  |    |      6|
75653  |    |      6|
03680  |    |      6|
75519  |    |      6|
87501  |    |      6|
87146  |    |      6|
31378  |    |      6|
53515  |    |      6|
73673  |    |      6|
05546  |    |      6|
05547  |    |      6|
05549  |    |      6|
05568  |    |      6|
05569  |    |      6|
31581  |    |      6|
05570  |    |      6|
05571  |    |      6|
45650  |    |      6|
45651  |    |      6|
31915  |    |      6|
45671  |    |      6|
45673  |    |      6|
45674  |    |      6|
45675  |    |      6|
45688  |    |      6|
73671  |    |      6|
73616  |    |      6|
73597  |    |      6|
53521  |    |      6|
53535  |    |      6|
55758  |    |      6|
47127  |    |      6|
55757  |    |      6|
55756  |    |      6|
33502  |    |      6|
21536  |    |      6|
21550  |    |      6|
21577  |    |      6|
986593 |    |      6|
983676 |    |      6|
67200  |    |      6|
43478  |    |      6|
65735  |    |      6|
43594  |    |      6|
43598  |    |      6|
65652  |    |      6|
43685  |    |      6|
77231  |    |      6|
43703  |    |      6|
975760 |    |      6|
23551  |    |      6|
23556  |    |      6|
23593  |    |      6|
23623  |    |      6|
23624  |    |      6|
23635  |    |      6|
23642  |    |      6|
23643  |    |      6|
23645  |    |      6|
23651  |    |      6|
23660  |    |      6|
23662  |    |      6|
23663  |    |      6|
23664  |    |      6|
23675  |    |      6|
23689  |    |      6|
23701  |    |      6|
23718  |    |      6|
23719  |    |      6|
23931  |    |      6|
53886  |    |      6|
13612  |    |      6|
965693 |    |      6|
956451 |    |      6|
5313   |    |      9|
53767  |    |      9|
31815  |    |      9|
33728  |    |      9|
45367  |    |      9|
21595  |    |      9|
53771  |    |      9|
33729  |    |      9|
13781  |    |      9|
21257  |    |      9|
53771  |    |      9|
63765  |    |      9|
13757  |    |      9|
5316   |    |      9|
51564  |    |      9|
33423  |    |      9|
65322  |    |      9|
11213  |    |      9|
5337   |    |      9|
52084  |    |      9|
53767  |    |      9|
63765  |    |      9|
15330  |    |      9|
80370  |    |      9|
52314  |    |      9|
53761  |    |      9|
5331   |    |      9|
5332   |    |      9|
5334   |    |      9|
981762 |    |      9|
85427  |    |      9|
965408 |    |      9|
65320  |    |      9|
97427  |    |      9|
955404 |    |      9|
65321  |    |      9|
51129  |    |      9|
33814  |    |      9|
31268  |    |      9|
80393  |    |      9|
80413  |    |      9|
33752  |    |      9|
80428  |    |      9|
79970  |    |      1|
03168  |    |      1|
03201  |    |      1|
11034  |    |      1|
13148  |    |      1|
13197  |    |      1|
13291  |    |      1|
23164  |    |      1|
23783  |    |      1|
30104  |    |      1|
30988  |    |      1|
31050  |    |      1|
31052  |    |      1|
31058  |    |      1|
31059  |    |      1|
31068  |    |      1|
31070  |    |      1|
31470  |    |      1|
31471  |    |      1|
31472  |    |      1|
31473  |    |      1|
31475  |    |      1|
31476  |    |      1|
31497  |    |      1|
31615  |    |      1|
31757  |    |      1|
3210   |    |      1|
32908  |    |      1|
33167  |    |      1|
33294  |    |      1|
38255  |    |      1|
38269  |    |      1|
38359  |    |      1|
39625  |    |      1|
39626  |    |      1|
41701  |    |      1|
41702  |    |      1|
41703  |    |      1|
41704  |    |      1|
41705  |    |      1|
41707  |    |      1|
41708  |    |      1|
43171  |    |      1|
49776  |    |      1|
53155  |    |      1|
53158  |    |      1|
53158  |    |      1|
58271  |    |      1|
58272  |    |      1|
58273  |    |      1|
58274  |    |      1|
58275  |    |      1|
58278  |    |      1|
58280  |    |      1|
58343  |    |      1|
58345  |    |      1|
59805  |    |      1|
59808  |    |      1|
59829  |    |      1|
59837  |    |      1|
59840  |    |      1|
59843  |    |      1|
59849  |    |      1|
59868  |    |      1|
59870  |    |      1|
61047  |    |      1|
79959  |    |      1|
79960  |    |      1|
79961  |    |      1|
79965  |    |      1|
79968  |    |      1|
01404  |    |      1|
79971  |    |      1|
79972  |    |      1|
79973  |    |      1|
79975  |    |      1|
79976  |    |      1|
79977  |    |      1|
79980  |    |      1|
79981  |    |      1|
79982  |    |      1|
79983  |    |      1|
79984  |    |      1|
79985  |    |      1|
79986  |    |      1|
79987  |    |      1|
79988  |    |      1|
79990  |    |      1|
79991  |    |      1|
79993  |    |      1|
79995  |    |      1|
80442  |    |      1|
80608  |    |      1|
86351  |    |      1|
87601  |    |      1|
87603  |    |      1|
87606  |    |      1|
87608  |    |      1|
87609  |    |      1|
87613  |    |      1|
87614  |    |      1|
87615  |    |      1|
87619  |    |      1|
87620  |    |      1|
89111  |    |      1|
89112  |    |      1|
89113  |    |      1|
89114  |    |      1|
89115  |    |      1|
89116  |    |      1|
89117  |    |      1|
89118  |    |      1|
89119  |    |      1|
89120  |    |      1|
89121  |    |      1|
89122  |    |      1|
89123  |    |      1|
89124  |    |      1|
89125  |    |      1|
89126  |    |      1|
89127  |    |      1|
89128  |    |      1|
89130  |    |      1|
89136  |    |      1|
89141  |    |      1|
89142  |    |      1|
89143  |    |      1|
89144  |    |      1|
89145  |    |      1|
89146  |    |      1|
89147  |    |      1|
89148  |    |      1|
89149  |    |      1|
89150  |    |      1|
89151  |    |      1|
89153  |    |      1|
89154  |    |      1|
89155  |    |      1|
89156  |    |      1|
89158  |    |      1|
89159  |    |      1|
89160  |    |      1|
89161  |    |      1|
89162  |    |      1|
89163  |    |      1|
89164  |    |      1|
89165  |    |      1|
89166  |    |      1|
89168  |    |      1|
89169  |    |      1|
89170  |    |      1|
89171  |    |      1|
89172  |    |      1|
89173  |    |      1|
89175  |    |      1|
89176  |    |      1|
89177  |    |      1|
89178  |    |      1|
89179  |    |      1|
89180  |    |      1|
89181  |    |      1|
89182  |    |      1|
89183  |    |      1|
89184  |    |      1|
89185  |    |      1|
89186  |    |      1|
89187  |    |      1|
89188  |    |      1|
89189  |    |      1|
89190  |    |      1|
89192  |    |      1|
89197  |    |      1|
973147 |    |      1|
97621  |    |      1|
97623  |    |      1|
97624  |    |      1|
97625  |    |      1|
97626  |    |      1|
97627  |    |      1|
97629  |    |      1|
97630  |    |      1|
97631  |    |      1|
97632  |    |      1|
97633  |    |      1|
97634  |    |      1|
97635  |    |      1|
97636  |    |      1|
97637  |    |      1|
99217  |    |      1|
99218  |    |      1|
99219  |    |      1|
99220  |    |      1|
99221  |    |      1|
99222  |    |      1|
99223  |    |      1|
99224  |    |      1|
99225  |    |      1|
99226  |    |      1|
99227  |    |      1|
99229  |    |      1|
99230  |    |      1|
99231  |    |      1|
99233  |    |      1|
99234  |    |      1|
99236  |    |      1|
99237  |    |      1|
99238  |    |      1|
99239  |    |      1|
99240  |    |      1|
99241  |    |      1|
99242  |    |      1|
99243  |    |      1|
99244  |    |      1|
99245  |    |      1|
99246  |    |      1|
99248  |    |      1|
99253  |    |      1|
99254  |    |      1|
61730  |    |      1|
69872  |    |      1|
69872  |    |      1|
69880  |    |      1|
69882  |    |      1|
69887  |    |      1|
69891  |    |      1|
69892  |    |      1|
69893  |    |      1|
69895  |    |      1|
69896  |    |      1|
69897  |    |      1|
69900  |    |      1|
69904  |    |      1|
69907  |    |      1|
69908  |    |      1|
69910  |    |      1|
70463  |    |      1|
7124   |    |      1|
77300  |    |      1|
77301  |    |      1|
77302  |    |      1|
77303  |    |      1|
77304  |    |      1|
77305  |    |      1|
78286  |    |      1|
79107  |    |      1|
79108  |    |      1|
79913  |    |      1|
79914  |    |      1|
79917  |    |      1|
79918  |    |      1|
79919  |    |      1|
79920  |    |      1|
79921  |    |      1|
79924  |    |      1|
79926  |    |      1|
79927  |    |      1|
79928  |    |      1|
79930  |    |      1|
79931  |    |      1|
79932  |    |      1|
79932  |    |      1|
79933  |    |      1|
79934  |    |      1|
79935  |    |      1|
79936  |    |      1|
79951  |    |      1|
79952  |    |      1|
79953  |    |      1|
79954  |    |      1|
79955  |    |      1|
79958  |    |      1|
45807  |    |     13|
23930  |    |     13|
23226  |    |     13|
23225  |    |     13|
A0622  |    |     13|
A0623  |    |     13|
43236  |    |     13|
43232  |    |     13|
43231  |    |     13|
43230  |    |     13|
31283  |    |     13|
73953  |    |     13|
45805  |    |     13|
45804  |    |     13|
64637  |    |      7|
64638  |    |      7|
6503   |    |      7|
6516   |    |      7|
53574  |    |      7|
53558  |    |      7|
53524  |    |      7|
53242  |    |      7|
53241  |    |      7|
53240  |    |      7|
52528  |    |      7|
51688  |    |      7|
68049  |    |      7|
51473  |    |      7|
51472  |    |      7|
51426  |    |      7|
68161  |    |      7|
24438  |    |      7|
23562  |    |      7|
35520  |    |      7|
34703  |    |      7|
34681  |    |      7|
34664  |    |      7|
34644  |    |      7|
34640  |    |      7|
23548  |    |      7|
34635  |    |      7|
34598  |    |      7|
34588  |    |      7|
34583  |    |      7|
34582  |    |      7|
34578  |    |      7|
34570  |    |      7|
51411  |    |      7|
51409  |    |      7|
34563  |    |      7|
34550  |    |      7|
51334  |    |      7|
51331  |    |      7|
73293  |    |      7|
73584  |    |      7|
45724  |    |      7|
45521  |    |      7|
44668  |    |      7|
74521  |    |      7|
74532  |    |      7|
74547  |    |      7|
74625  |    |      7|
74716  |    |      7|
44667  |    |      7|
44630  |    |      7|
44605  |    |      7|
44591  |    |      7|
44585  |    |      7|
44568  |    |      7|
44506  |    |      7|
44384  |    |      7|
76452  |    |      7|
76515  |    |      7|
76517  |    |      7|
76532  |    |      7|
44008  |    |      7|
43694  |    |      7|
34528  |    |      7|
34514  |    |      7|
84516  |    |      7|
33723  |    |      7|
84671  |    |      7|
33722  |    |      7|
43693  |    |      7|
43629  |    |      7|
43509  |    |      7|
43464  |    |      7|
41451  |    |      7|
36589  |    |      7|
36537  |    |      7|
36500  |    |      7|
33652  |    |      7|
33465  |    |      7|
86519  |    |      7|
32555  |    |      7|
32509  |    |      7|
31907  |    |      7|
31092  |    |      7|
13335  |    |      7|
13020  |    |      7|
11673  |    |      7|
11518  |    |      7|
EG0002 |    |      7|
EG0210 |    |      7|
EG5501 |    |      7|
11516  |    |      7|
07225  |    |      7|
06646  |    |      7|
26555  |    |      7|
25668  |    |      7|
06645  |    |      7|
06575  |    |      7|
06572  |    |      7|
23454  |    |      7|
21271  |    |      7|
16650  |    |      7|
14709  |    |      7|
14659  |    |      7|
14572  |    |      7|
985717 |    |      7|
14524  |    |      7|
S0570  |    |      7|
S2556  |    |      7|
S2557  |    |      7|
S2574  |    |      7|
W2256  |    |      7|
W3838  |    |      7|
14503  |    |      7|
13606  |    |      7|
90008  |    |      7|
24652  |    |      7|
94558  |    |      7|
94571  |    |      7|
24643  |    |      7|
24617  |    |      7|
24562  |    |      7|
24531  |    |      7|
61127  |    |      7|
966551 |    |      7|
996548 |    |      7|
56598  |    |      7|
54666  |    |      7|
54653  |    |      7|
54602  |    |      7|
54595  |    |      7|
54537  |    |      7|
54500  |    |      7|
53608  |    |      7|
53577  |    |      7|
53576  |    |      7|
64576  |    |      7|
64603  |    |      7|
(883 rows)

In [107]:
db.query('update equipment set dept_id = dept.id from departments as dept, link where link.equip_id = equipment.id and link.dept = dept.dept')

'883'

In [112]:
print db.query("select count(distinct dept_id) from equipment") #Show results by returning number of unique values in dept_id

count
-----
   15
(1 row)

In [115]:
print db.query("select * from schools")

id|       name       |        address
--+------------------+------------------------
 1|Cleveland H.S.    |5511 15th Avenue S
 2|Franklin H.S.     |3013 S Mount Baker Bvld.
 3|Rainier Beach H.S.|8815 Seward Park Ave S
 4|Mercer M.S.       |1600 S Columbian Way
(4 rows)