In [1]:
import sys
sys.path.append('C:\Python27\ArcGIS10.3\Lib\site-packages')
import pg
from pg import DB

In [6]:
db = DB(dbname = 'geog465_stevenli_temp', host = 'geog-db2.geog.uw.edu', port = 5432, user = 'stevenli', passwd = 'stevenli')

In [7]:
db.query('''CREATE TABLE Seattle_code_violations (
    case_number int  NOT NULL,
    "case" int  NOT NULL,
    status int  NOT NULL,
    location int  NOT NULL,
    date int  NOT NULL,
    CONSTRAINT case_number PRIMARY KEY (case_number)
)''')

In [8]:
db.query('''CREATE TABLE "case" (
    id int  NOT NULL,
    case_type varchar(20)  NOT NULL,
    description varchar(50)  NOT NULL,
    case_group varchar(10)  NOT NULL,
    CONSTRAINT case_ID PRIMARY KEY (id)
)''')

In [9]:
db.query('''CREATE TABLE date (
    date_ID int  NOT NULL,
    case_created date  NOT NULL,
    date_last_inspect date  NOT NULL,
    CONSTRAINT date_ID PRIMARY KEY (date_ID)
)''')

In [10]:
db.query('''CREATE TABLE location (
    id int  NOT NULL,
    address varchar(50)  NOT NULL,
    CONSTRAINT location_ID PRIMARY KEY (id)
)''')

In [11]:
db.query('''CREATE TABLE status (
    id int  NOT NULL,
    last_inspection_result varchar(10)  NOT NULL,
    current_status varchar(10)  NOT NULL,
    CONSTRAINT status_ID PRIMARY KEY (id)
)''')

In [13]:
db.query('''INSERT INTO Seattle_code_violations (case_number, "case", status, location, date) VALUES(1037312, 1, 1, 1, 1)''')

'1'

In [15]:
db.query('''INSERT INTO "case" (id, case_type, description, case_group) VALUES(1, 'Citation', 'Weeds and Vegetable', 'Zoning')''')

'1'

In [17]:
db.query('''INSERT INTO date (date_ID, case_created, date_last_inspect) VALUES(1, '04/25/2016', '04/25/2016')''')

'1'

In [18]:
db.query('''INSERT INTO location (id, address) VALUES(1, '3409 S JUNEAU ST')''')

'1'

In [19]:
db.query('''INSERT INTO status (id, last_inspection_result, current_status) VALUES(1, 'FAILED', 'OPEN')''')

'1'

In [20]:
print db.query('SELECT * FROM Seattle_code_violations')

case_number|case|status|location|date
-----------+----+------+--------+----
    1037312|   1|     1|       1|   1
(1 row)

In [21]:
print db.query('SELECT * FROM "case"')

id|case_type|    description    |case_group
--+---------+-------------------+----------
 1|Citation |Weeds and Vegetable|Zoning
(1 row)

In [22]:
print db.query('SELECT * FROM date')

date_id|case_created|date_last_inspect
-------+------------+-----------------
      1|2016-04-25  |2016-04-25
(1 row)

In [23]:
print db.query('SELECT * FROM location')

id|    address
--+----------------
 1|3409 S JUNEAU ST
(1 row)

In [24]:
print db.query('SELECT * FROM status')

id|last_inspection_result|current_status
--+----------------------+--------------
 1|FAILED                |OPEN
(1 row)